{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container">

        <div class="jumbotron mt-4">
            <h1 class="display-4 text-center text-md-left">Bienvenue sur SymBNB</h1>
            <p class="lead text-center text-md-left">Mise en relation des voyageurs et propriétaires souhaitant profiter d'opportunités tout en gagnant de l'argent !</p>
            <hr class="my-4">
            <p class="text-center text-md-left">Vous cherchez une location pour votre prochain voyage ?</p>
            <p class="lead text-center text-md-left">
                <a class="btn btn-primary btn-lg" href="{{ path('ad.index') }}" role="button">Découvrez ici toutes nos annonces</a>
            </p>
        </div>

        <h2 class="my-5">Nos meilleures locations</h2>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 &euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid distinctio facilis in maxime mollitia possimus ratione sint tempore veniam!
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 &euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid distinctio facilis in maxime mollitia possimus ratione sint tempore veniam!
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        3 chambres, <strong>49 &euro; / nuit</strong> <br>
                        <small>Pas encore noté</small>
                    </div>

                    <img src="https://placehold.it/1000x400" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block;">

                    <div class="card-body">
                        <h4 class="card-title">
                            Appartement de ouf !
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid distinctio facilis in maxime mollitia possimus ratione sint tempore veniam!
                        </p>
                        <a href="#" class="btn btn-secondary">En savoir plus</a>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="my-5">Nos propriétaires stars</h2>
        <div class="row">
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Eric Mangin
                        </h4>

                        <hr>

                        <div class="card-text">
                            <img src="https://placehold.it/128x128" alt="Avatar de Eric Mangin" class="float-left mr-3">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugit illo quis repudiandae sapiente, similique.
                            </p>
                            <a href="#" class="btn btn-info">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            Eric Mangin
                        </h4>

                        <hr>

                        <div class="card-text">
                            <img src="https://placehold.it/128x128" alt="Avatar de Eric Mangin" class="float-left mr-3">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fugit illo quis repudiandae sapiente, similique.
                            </p>
                            <a href="#" class="btn btn-info">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
