<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - SymBNB</title>

        <meta name="viewport" content="width=device-width, user-scalable=no">
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {# Header #}
        {{ include('layout/header.html.twig') }}

        {% block body %}{% endblock %}

        {# Header #}
        {{ include('layout/footer.html.twig') }}

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}{% endblock %}
    </body>
</html>
