{% extends 'base.html.twig' %}

{% block title %} Créer une annonce {% endblock %}

{% form_theme form 'ad/_form_theme.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button class="btn btn-lg btn-success">{{ button|default('Enregistrer cette annonce') }}</button>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}