{% extends 'base.html.twig' %}

{% block title %}Identification Membre{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-4 text-center">Mon Compte - Identification</h1>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto bg-secondary px-3 py-3">

                {% if authError %}
                    <div class="alert alert-danger">Nom d'utilisateur ou mot de passe invalide</div>
                {% endif %}

                <form action="{{ path('user.login') }}" method="POST">
                    <div class="form-group">
                        <label for="email">E-mail</label>
                        <input type="text" name="_username" id="email" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="text" name="_password" id="password" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"> Se Connecter </button>
                    </div>
                </form>

                <hr />

                <div class="text-center">
                    <p>Pas encore inscrit ?</p>
                    <a href="{{ path('user.register') }}" class="btn btn-primary">Créer mon compte membre</a>
                </div>

            </div>
        </div>


    </div>

{% endblock %}