{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-5">Modifier votre mot de passe</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button class="btn btn-lg btn-success">{{ button|default('Valider la modification de votre mot de passe') }} &nbsp; <i class="fa fa-save"></i> </button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}