{% extends 'base.html.twig' %}

{% block title %}Modifier Profil{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="my-4 text-center">Modifier les données de mon compte</h1>

        {{ form_start(form) }}

        {{ form_widget(form) }}

        <div class="form-group">
            <button class="btn btn-lg btn-success">{{ button|default('Envoyer les modifications') }}</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}